modules = ["ruby-3.2", "python-base-3.13", "nodejs-24"]

[workflows]
runButton = "Project"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "bundle config set --local path vendor/bundle && bundle install && bundle exec jekyll build"]
publicDir = "_site"
